.details-page-container{
    background: linear-gradient(180deg, rgba(81, 156, 12, 0.12) 0%, rgba(255, 255, 255, 0.12) 100%);

}



.header-title{
/* font-size: calc(1.8rem + 1vw); */
color: #18467F;
font-size: 22px;
font-weight: 600px;
font-family: "Roboto";

}
.card-detial-title{
font-size: calc(1.8rem + 1vw);
color: #18467F;
font-size: 40px;
font-weight: 600px;
font-family: "Roboto";

}
.card-sub-text-description{
    color: #4D4D4D;
    font-size: 15px;
    font-weight: 500px;
    font-family: "Roboto"; 
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 300px; /* Adjusts width on larger screens */
}

.detail-page-search-bar {
    width: 100% !important; /* Makes input responsive */
    height: 45px !important;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 41px;
    box-shadow: 0px 2px 12px 0px #0000001F;
    padding-right: 90px; /* Prevents text from overlapping button */
    text-indent: 20px;;
}

/* Ensure the search button remains properly placed */
.search-product-btn {
    background: #519C0C;
    border-radius: 40px !important;
    width: 85px !important;
    height: 45px !important;
    border: none !important;
    color: white;
    position: absolute;
    right: -14px;
    top: 0px;
}

.serach-icon{
    position: absolute;
    top:17px;
    left:12px;
    width: 15px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .search-container {
        max-width: 250px; /* Slightly smaller on tablets */
    }
}

@media (max-width: 576px) {
    .search-container {
        max-width: 100%; /* Full width on small screens */
    }

    .detail-page-search-bar {
        height: 44px !important;
        padding-right: 80px;
    }

    .search-product-btn {
        width: 75px !important;
        height: 44px !important;
    }
}

.Ingredients-heading {
   color:#519C0C ; 
   font-size: 30px;
font-weight: 600px;
font-family: "Roboto";
}

.ingredient-name{
    font-size: 24px;
    color: #333333;
    font-weight: 500px;
    font-family: "Roboto";
    line-height: 150%;
}

.ingredient-benefit{
    font-size: 15px;
    color: #4D4D4D;
    font-weight: 500px;
    font-family: "Roboto";
}

.price-button{
    width: 120px;
    height: 55px;
    border-radius: 62px;
    padding:14px 24px;
    gap:8px;
    background: #519C0C;
    color: #FFFFFF;
    font-weight: 500px;
    font-family: "Roboto";
    font-size: 18px;
    white-space: nowrap;
    border: none;
}

.product-price{
    font-family: "Roboto";
    font-weight: 700px;
    font-size: 32px !important;
    line-height: 150%;
    text-decoration: underline;
    color: #18467F;
    margin-left: 30px;

}